@{
  Layout = "_Layout";
}
<div class="container">
<h2>WordCounter Result</h2>
  <p>Sentence: "@Model.GetSentence()"</p>
  <hr>
  <p>Words: "@Model.GetWord()"</p>
  <hr>
  <p>Matches: "@Model.GetWord()" matches @Model.GetCountMatch() times.</p>
</div>
<hr>
<br>
  <button type="submit">Play again?</button>
