@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h3>Welcome To Word Counter</h3>

  <form action='/wordcounter' method='post'>
    <label for="userLetter">Enter a Letter</label>
    <input id="userLetter" name="userLetter">
    <button type='submit'>Play!</button>
  </form>

</div>
